tupels , create, len , type, indexing, count, modify<br>
sets , add, remove,discard,clear, pop ,cast,joins<br>
dictonaries , call values , flexible , conversion,subtract ,adding,nested ,calling the keys, dictionary comphrensions,list comprehension,shallow copy , deep copy, functions,def statements, greet functions, return,prime number

Tuple :It is a data type which stores multiple values and it is immutable , ordered and allows duplicates

In [1]:
a = ('a' , 2 , 'c' , 'a')
print(a)

('a', 2, 'c', 'a')

Length of the tuple

In [2]:
a = ('a' , 2 , 'c' , 'a')
print(len(a))

4

Type of the tuple

In [3]:
a = ('a' , 2 , 'c' , 'a')
print(type(a))

<class 'tuple'>

Accessing the tuple using index

In [4]:
a = ('a' , 2 , 'c' , 'a')
print(a[2])

c

In [5]:
a = ('a' , 2 , 'c' , 'a')
print(a[-2])

c

Count of Tuple

In [7]:
a = ('a' , 2 , 'c' , 'a')
print(a.count('a'))

2

Modifying the tuple : To update or modify tuple we cannot do it directly as it is immutable we need to change the tuple to list and we can update or modify within the list

In [8]:
a = ('a' , 2 , 'c' , 'a')
x = list(a)
print(x)

['a', 2, 'c', 'a']

In [10]:
x = ['a', 2, 'c', 'a']
x[2] = '3'
print(x)

['a', 2, '3', 'a']

In [11]:
print(tuple(x))

('a', 2, '3', 'a')

Adding values to the tuple

In [12]:
a = ('a' , 2 , 'c' , 'a')
x = list(a)
print(x)
x.append(4)
print(x)
print(tuple(x))

['a', 2, 'c', 'a']
['a', 2, 'c', 'a', 4]
('a', 2, 'c', 'a', 4)

Joining the Tuples

In [14]:
a = ('a' , 2 , 'c' , 'a')
b = (1, 2, 4, 5, 6)
x =a+b
print(x)

('a', 2, 'c', 'a', 1, 2, 4, 5, 6)

sets : It is a data type which store multiple values and it is immutable , unordered and does not allow duplicates

In [15]:
b = {1, 2, 4, 5, 6}
print(b)

{1, 2, 4, 5, 6}

Accesing item from set : we cannot directly access the values from the set as it is unordered , but we can use for loop

In [20]:
b = {1, 2, 4, 5, 6}
for s in b:
    print(s)
    print(2 in b)

1
True
2
True
4
True
5
True
6
True

Adding items to the set

In [21]:
b = {1, 2, 4, 5, 6}
b.add(8)
print(b)

{1, 2, 4, 5, 6, 8}

Update set

In [22]:
b = {1, 2, 4, 5, 6}
a= {'a', 'b', 'c','d'}
a.update(b)
print(a)

{1, 'b', 2, 'a', 4, 5, 6, 'd', 'c'}

Remove items from the set

In [23]:
b = {1, 2, 4, 5, 6}
b.remove(2)
print(b)

{1, 4, 5, 6}

Discard set

In [24]:
b = {1, 2, 4, 5, 6}
b.discard(2)
print(b)

{1, 4, 5, 6}

Clearing the items from the set

In [25]:
b = {1, 2, 4, 5, 6}
b.clear()
print(b)

set()

Pop : It removes and returns a random element from a set

In [27]:
b = {1, 2, 3, 4}

a= b.pop()
print(a)
print(b)

1
{2, 3, 4}

Cast : convert set to tuple

In [28]:
b = {1, 2, 4, 5, 6}
t = tuple(b)
print(t)

(1, 2, 4, 5, 6)

Joining set

In [30]:
b = {1, 2, 4, 5, 6}
a = {'a', 'b' ,'c'}
x = a|b
print(x)
x= a.union(b)
print(x)

{1, 'b', 2, 'a', 4, 5, 6, 'c'}
{1, 'b', 2, 'a', 4, 5, 6, 'c'}

Difference from the set

In [33]:
b = {'a', 2, 4, 5, 6}
a = {'a', 2, 4 ,'c'}
x= b.difference(a)             # it gives all the non matching elements from b
print(x)
x = b-a
print(x)

{5, 6}
{5, 6}

Dictionaries : These are used to store key value pairs , it doesnt allow duplicates , ordered and mutable

In [34]:
a = {'name' : 'mounika' , 'age' : 25 , 'phone' : 345678}
print(a)

{'name': 'mounika', 'age': 25, 'phone': 345678}

Accessing Dictionaries

In [35]:
a = {'name' : 'mounika' , 'age' : 25 , 'phone' : 345678}
x=a.keys()
print(x)

dict_keys(['name', 'age', 'phone'])

Conversion of dictionaries

In [36]:
a = {'name' : 'mounika' , 'age' : 25 , 'phone' : 345678}
x=list(a)
print(x)

['name', 'age', 'phone']

Adding value to the dictionary

In [37]:
a = {'name' : 'mounika' , 'age' : 25 , 'phone' : 345678}
a['id'] = 234
print(a)

{'name': 'mounika', 'age': 25, 'phone': 345678, 'id': 234}

Subtracting from a dictionary

In [39]:
a = {'name' : 'mounika' , 'age' : 25 , 'phone' : 345678, 'id': 234}
del a['id']
print(a)

{'name': 'mounika', 'age': 25, 'phone': 345678}

Nested Dictionaries

In [40]:
students = {
    "Alice": {"age": 20, "grade": "A", "major": "CS"},
    "Bob": {"age": 22, "grade": "B", "major": "Math"},
    "Charlie": {"age": 21, "grade": "A", "major": "Physics"}
}

print(students)

{'Alice': {'age': 20, 'grade': 'A', 'major': 'CS'}, 'Bob': {'age': 22, 'grade': 'B', 'major': 'Math'}, 'Charlie': {'age': 21, 'grade': 'A', 'major': 'Physics'}}