In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\saiko\Downloads\messy_employees.csv")
print(df)

    ID     Name    Age    JoinDate Department  Salary
0  1.0   Alice    25.0  2021-01-01         HR   55000
1  2.0      BOB    NaN  2021/02/15         IT   45000
2  2.0      bob   30.0         NaN         IT   45000
3  3.0  Charlie   35.0  15-03-2021    Finance   70000
4  4.0    david   40.0  2021-04-20    Finance  400000
5  5.0      NaN  200.0  2021-05-30         HR   52000
6  NaN     Eve!   29.0  2021-06-10         IT   48000

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          6 non-null      float64
 1   Name        6 non-null      object
 2   Age         6 non-null      float64
 3   JoinDate    6 non-null      object
 4   Department  7 non-null      object
 5   Salary      7 non-null      int64
dtypes: float64(2), int64(1), object(3)
memory usage: 468.0+ bytes
None

In [6]:
print(df.head())
print(df.tail())

    ID     Name   Age    JoinDate Department  Salary
0  1.0   Alice   25.0  2021-01-01         HR   55000
1  2.0      BOB   NaN  2021/02/15         IT   45000
2  2.0      bob  30.0         NaN         IT   45000
3  3.0  Charlie  35.0  15-03-2021    Finance   70000
4  4.0    david  40.0  2021-04-20    Finance  400000
    ID     Name    Age    JoinDate Department  Salary
2  2.0      bob   30.0         NaN         IT   45000
3  3.0  Charlie   35.0  15-03-2021    Finance   70000
4  4.0    david   40.0  2021-04-20    Finance  400000
5  5.0      NaN  200.0  2021-05-30         HR   52000
6  NaN     Eve!   29.0  2021-06-10         IT   48000

In [7]:
print(df.describe())

             ID         Age         Salary
count  6.000000    6.000000       7.000000
mean   2.833333   59.833333  102142.857143
std    1.471960   68.863391  131625.008479
min    1.000000   25.000000   45000.000000
25%    2.000000   29.250000   46500.000000
50%    2.500000   32.500000   52000.000000
75%    3.750000   38.750000   62500.000000
max    5.000000  200.000000  400000.000000

In [10]:
print(df.isnull().sum())

ID            1
Name          1
Age           1
JoinDate      1
Department    0
Salary        0
dtype: int64

In [11]:
df_clean = df.dropna()

In [23]:
df['Age'] = df['Age'].fillna(0)        # Replace NaN with 0
df['Department'] = df['Department'].fillna('Unknown')

In [24]:
print(df)

    ID     Name    Age    JoinDate Department  Salary
0  1.0   Alice    25.0  2021-01-01         hr    25.0
1  2.0      BOB    0.0  2021/02/15         it     0.0
2  2.0      bob   30.0         NaN         it    30.0
3  3.0  Charlie   35.0  15-03-2021    finance    35.0
4  4.0    david   40.0  2021-04-20    finance    40.0
5  5.0      NaN  200.0  2021-05-30         hr   200.0
6  NaN     Eve!   29.0  2021-06-10         it    29.0

In [18]:
df['Department'] = df['Department'].str.lower()

In [19]:
print(df)

    ID     Name    Age    JoinDate Department  Salary
0  1.0   Alice    25.0  2021-01-01         hr    25.0
1  2.0      BOB    NaN  2021/02/15         it     0.0
2  2.0      bob   30.0         NaN         it    30.0
3  3.0  Charlie   35.0  15-03-2021    finance    35.0
4  4.0    david   40.0  2021-04-20    finance    40.0
5  5.0      NaN  200.0  2021-05-30         hr   200.0
6  NaN     Eve!   29.0  2021-06-10         it    29.0

In [3]:
df = df.fillna(0)

In [4]:
print(df)

    ID     Name    Age    JoinDate Department  Salary
0  1.0   Alice    25.0  2021-01-01         HR   55000
1  2.0      BOB    0.0  2021/02/15         IT   45000
2  2.0      bob   30.0           0         IT   45000
3  3.0  Charlie   35.0  15-03-2021    Finance   70000
4  4.0    david   40.0  2021-04-20    Finance  400000
5  5.0        0  200.0  2021-05-30         HR   52000
6  0.0     Eve!   29.0  2021-06-10         IT   48000

In [1]:
df.to_csv("messy_employees.csv" , index=False)

NameError: name 'df' is not defined

In [11]:
print(df.shape)

(7, 6)