In [ ]:
import pandas as pd
employees = pd.read_csv(r"C:\Users\saiko\Downloads\employees.csv")
print(employees)

In [5]:
print(len(employees))

5

In [9]:
print(max(employees["Salary"]))

80000

In [10]:
print(min(employees["Salary"]))

50000

In [11]:
def average_salary(per):
    return sum(per["Salary"]) / len(per)
print(average_salary(employees))

66000.0